<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="SlotsInfoService"/>
    <add key="DisplayName" value="SlotsInfoService"/>
    <add key="Description" value="SlotsInfoService"/>

    <!--SIT-->
    <!--<add key="CMP_Server" value="10.200.26.27"/>
    <add key="CMP_Database" value="CMP12_4_2_10_SP1_HOFF"/>-->
    <!--PROD-->
    <add key="CMP_Server" value="10.9.26.48"/>
    <add key="CMP_Database" value="CMP_HOFF"/>
    
    <!--apply local time-->
    <add key="ApplyLocalTime_Jackpot" value="true"/>
    <add key="ApplyLocalTime_Progressive" value="true"/>
    <add key="ApplyLocalTime_Mystery" value="false"/>
    <add key="ApplyLocalTime_Celebration" value="false"/>

    <add key="WapQueryUrl" value="http://10.9.13.33:2012/api/custom/casino/table/"/>
    
    <add key="KioskServiceUser" value="admin"/>
    <add key="KioskServicePassword" value="admin"/>
    <add key="Log4NetConfigPath" value="C:\log\SlotsInfo\SlotsInfo.Log4Net.config"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="com.siml.gaming.slots.webinfo.impl.SlotsInfoService" behaviorConfiguration="SIMLBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.5.2.85:1987/SlotsInfoService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.suninternational.com/gaming/web/SlotsInfoService.v101" contract="com.siml.gaming.slots.webinfo.contract.ISlotsInfo" behaviorConfiguration="SIMLEndpointBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SIMLEndpointBehavior">
          <!-- returnUnknownExceptionsAsFaults="true"> -->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SIMLBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="PropertySlotsInfoServiceEndPointBinding" />-->
        <binding name="PropertySlotsInfoServiceEndPointBinding"/>
        <!--<binding name="KioskEndPointBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:00:30" sendTimeout="00:00:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
          </security>
        </binding>-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.28.13.97:1988/PropertySlotsInfoService"
	      binding="basicHttpBinding"
		  bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
		  contract="SlotsInfoService" name="BORDBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.14.13.90:1988/PropertySlotsInfoService"
	      binding="basicHttpBinding"
		  bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
		  contract="SlotsInfoService" name="CAROBasicHttpBinding_SlotsInfoService"/>
      <!--10.12.13.93:1988 - CCTY prod-->
      <endpoint address="http://10.151.13.54:1988/PropertySlotsInfoService"
	      binding="basicHttpBinding"
		  bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
		  contract="SlotsInfoService" name="CCTYBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.30.26.21:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="FLAMBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.34.1.9:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="GOLDBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.10.13.99:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="GRANBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.29.13.91:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="MEROBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.26.77.97:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="MORUBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.27.13.98:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="SC01BasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.3.13.51:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="SIBABasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.24.13.97:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="WC01BasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.23.5.59:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="WINDBasicHttpBinding_SlotsInfoService"/>
      <endpoint address="http://10.5.2.137:1988/PropertySlotsInfoService"
          binding="basicHttpBinding"
        bindingConfiguration="PropertySlotsInfoServiceEndPointBinding"
        contract="SlotsInfoService" name="TESTBasicHttpBinding_SlotsInfoService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
