<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--apply local time-->
  <add key="ApplyLocalTime_Jackpot" value="true"/>
  <add key="ApplyLocalTime_Progressive" value="true"/>
  <add key="ApplyLocalTime_Mystery" value="false"/>
  <add key="ApplyLocalTime_Celebration" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KioskEndPointBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:00:30" sendTimeout="00:00:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.28.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="BORDKioskEndPointPort"/>
      <endpoint address="http://10.14.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="CAROKioskEndPointPort"/>
      <endpoint address="http://10.12.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="CCTYKioskEndPointPort"/>
      <endpoint address="http://10.30.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="FLAMKioskEndPointPort"/>
      <endpoint address="http://10.34.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="GOLDKioskEndPointPort"/>
      <endpoint address="http://10.10.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="GRANKioskEndPointPort"/>
      <endpoint address="http://10.29.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="MEROKioskEndPointPort"/>
      <endpoint address="http://10.26.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="MORUKioskEndPointPort"/>
      <endpoint address="http://10.3.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="SIBAKioskEndPointPort"/>
      <endpoint address="http://10.24.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="WC01KioskEndPointPort"/>
      <endpoint address="http://10.23.77.12:18080/SDS/KioskInterface" binding="basicHttpBinding" bindingConfiguration="KioskEndPointBinding" contract="KioskEndPoint" name="WINDKioskEndPointPort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
